html,
body,
#app {
  min-height: 100%;
  overflow: hidden;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* #app {
  
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
label,
li {
  color: white !important;
}
